 /* Full-width input fields */

 input[type=text], input[type=password] {
	 
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=checkbox] {
  transform: scale(1.5);
  
}

.checkboxitem {
	text-align: left;
	
}
/* Set a style for all buttons */
button {
  width: 420px;
  height: 50px;
  padding: 0;
  margin: 10px 0px 0px 0px;
  
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #596069;
  
  outline:none;
  cursor: pointer;
  
  border: solid 1px #b3aca7;
  border-top: none;
}

h1 {
  font-size: 32px;
  color:#596069;
  position: relative;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}
h2 {
  font-size: 18px;
  color:#596069;
  position: relative;
  text-align:center;
  letter-spacing: 2px;
}


/* Add padding to container elements */
.container {
    padding: 16px;
}




input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}

body {
  font-family: 'Lato', sans-serif;
  background: #e2dedb;
  color: #b3aca7;
  animation: colorchange 23s infinite; 
  -webkit-animation: colorchange 23s infinite; 
    }

    @keyframes colorchange
    {
      0%   {background: #cc99ff;}
      25%  {background: #d9ffcc;}
      50%  {background: #ccccff;}
      75%  {background: #ff99ff;}
      100% {background: #b3b3b3;}
    }

    @-webkit-keyframes colorchange 
    {
      0%   {background: #cc99ff;}
      25%  {background: #d9ffcc;}
      50%  {background: #ccccff;}
      75%  {background: #ff99ff;}
      100% {background: #b3b3b3;}
    }
}

header {

 
  margin: 100px 0 25px 0;
  font-size: 2.3em;
  text-align: center;
  letter-spacing: 7px;
}

#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}

input {
	
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: #b3aca7;
  
  border: solid 1px #b3aca7;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #b3aca7;
  color: #e2dedb;
}

form {
    width: 450px;
    height: 90%;
    border-radius: 5px;
    margin: 2% auto;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
    background-color:#596069;
}
textarea:hover {
  background: #b3aca7;
  color: #e2dedb;
}


button:hover {
  color: #e2dedb;
}
